@font-face {
  font-family: "iconfont"; /* Project id 4499603 */
  src: url('//at.alicdn.com/t/c/font_4499603_w42twg70aob.woff2?t=1735790337362') format('woff2'),
       url('//at.alicdn.com/t/c/font_4499603_w42twg70aob.woff?t=1735790337362') format('woff'),
       url('//at.alicdn.com/t/c/font_4499603_w42twg70aob.ttf?t=1735790337362') format('truetype'),
       url('//at.alicdn.com/t/c/font_4499603_w42twg70aob.svg?t=1735790337362#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-w3c:before { content: "\e989"; }
.icon-github-action:before { content: "\e988"; }
.icon-expressjs:before { content: "\e987"; }
.icon-jetpack-compose:before { content: "\e986"; }
.icon-cypress:before { content: "\e985"; }
.icon-puppeteer:before { content: "\e984"; }
.icon-mocha:before { content: "\e983"; }
.icon-jasmine:before { content: "\e982"; }
.icon-babel:before { content: "\e981"; }
.icon-jest:before { content: "\e980"; }
.icon-netlify:before { content: "\e97f"; }
.icon-n8n:before { content: "\e97e"; }
.icon-sass:before { content: "\e97d"; }
.icon-clerk:before { content: "\e97c"; }
.icon-nuxtjs:before { content: "\e97b"; }
.icon-verdaccio:before { content: "\e97a"; }
.icon-svn:before { content: "\e979"; }
.icon-firebase:before { content: "\e978"; }
.icon-cocoapods:before { content: "\e977"; }
.icon-eclipse:before { content: "\e976"; }
.icon-swagger:before { content: "\e975"; }
.icon-postman:before { content: "\e974"; }
.icon-openapi:before { content: "\e973"; }
.icon-google-apps-script:before { content: "\e972"; }
.icon-vercel:before { content: "\e971"; }
.icon-vitejs:before { content: "\e970"; }
.icon-astro:before { content: "\e96f"; }
.icon-toml:before { content: "\e96e"; }
.icon-nvidia:before { content: "\e96d"; }
.icon-davinci:before { content: "\e96c"; }
.icon-almalinux:before { content: "\e96b"; }
.icon-rockylinux:before { content: "\e96a"; }
.icon-truenas:before { content: "\e969"; }
.icon-parrotsecurity:before { content: "\e968"; }
.icon-linuxmint:before { content: "\e967"; }
.icon-nuxt:before { content: "\e966"; }
.icon-icon-polars:before { content: "\e965"; }
.icon-awesome-list:before { content: "\e964"; }
.icon-ocaml:before { content: "\e963"; }
.icon-fastapi:before { content: "\e962"; }
.icon-karate:before { content: "\e961"; }
.icon-blazor:before { content: "\e960"; }
.icon-ollama:before { content: "\e95f"; }
.icon-google-sheets:before { content: "\e95e"; }
.icon-gemini:before { content: "\e95d"; }
.icon-qt:before { content: "\e95c"; }
.icon-c:before { content: "\e607"; }
.icon-apachecordova:before { content: "\e95b"; }
.icon-subl:before { content: "\e95a"; }
.icon-power-automate:before { content: "\e959"; }
.icon-perplexity:before { content: "\e958"; }
.icon-nushell:before { content: "\e957"; }
.icon-langchain:before { content: "\e956"; }
.icon-hyprland:before { content: "\e955"; }
.icon-gcp:before { content: "\e913"; }
.icon-julia:before { content: "\e920"; }
.icon-clojure:before { content: "\e931"; }
.icon-duckdb:before { content: "\e93c"; }
.icon-rocksdb:before { content: "\e91f"; }
.icon-obsedian:before { content: "\e954"; }
.icon-dotenv:before { content: "\e953"; }
.icon-huggingface:before { content: "\e952"; }
.icon-py-locust:before { content: "\e951"; }
.icon-py-celery:before { content: "\e950"; }
.icon-erlang:before { content: "\e94f"; }
.icon-rabbitmq:before { content: "\e94e"; }
.icon-godot:before { content: "\e94d"; }
.icon-homebrew:before { content: "\e94c"; }
.icon-chocolatey:before { content: "\e94b"; }
.icon-google-analytics:before { content: "\e94a"; }
.icon-k8s:before { content: "\e949"; }
.icon-splunk:before { content: "\e948"; }
.icon-threejs:before { content: "\e947"; }
.icon-helm:before { content: "\e946"; }
.icon-keras:before { content: "\e945"; }
.icon-prometheus:before { content: "\e944"; }
.icon-tensorflow:before { content: "\e943"; }
.icon-oauth2:before { content: "\e942"; }
.icon-pycharm:before { content: "\e941"; }
.icon-travis-ci:before { content: "\e940"; }
.icon-pytorch:before { content: "\e93f"; }
.icon-jwt:before { content: "\e93e"; }
.icon-grafana:before { content: "\e93d"; }
.icon-duckduckgo:before { content: "\e93b"; }
.icon-dotnet:before { content: "\e93a"; }
.icon-numpy:before { content: "\e939"; }
.icon-pandas:before { content: "\e938"; }
.icon-coupang:before { content: "\e937"; }
.icon-matlab:before { content: "\e936"; }
.icon-wildfly:before { content: "\e935"; }
.icon-flipper-zero:before { content: "\e934"; }
.icon-arduino:before { content: "\e933"; }
.icon-flipper-zero-color:before { content: "\e932"; }
.icon-ios:before { content: "\e930"; }
.icon-gatsby:before { content: "\e92f"; }
.icon-nexus:before { content: "\e92e"; }
.icon-flask:before { content: "\e92d"; }
.icon-storybook:before { content: "\e92c"; }
.icon-archlinux:before { content: "\e92b"; }
.icon-nmap:before { content: "\e92a"; }
.icon-armeria:before { content: "\e929"; }
.icon-awk:before { content: "\e928"; }
.icon-rsync:before { content: "\e927"; }
.icon-ffmpeg:before { content: "\e926"; }
.icon-alpine:before { content: "\e925"; }
.icon-apachejmeter:before { content: "\e924"; }
.icon-gatling:before { content: "\e923"; }
.icon-sketch:before { content: "\e922"; }
.icon-common-lisp:before { content: "\e921"; }
.icon-popos:before { content: "\e91d"; }
.icon-blex:before { content: "\e91c"; }
.icon-velog:before { content: "\e91b"; }
.icon-elasticsearch:before { content: "\e91a"; }
.icon-elastic:before { content: "\e919"; }
.icon-copilot:before { content: "\e918"; }
.icon-cockroach-db:before { content: "\e917"; }
.icon-r:before { content: "\e916"; }
.icon-nextjs:before { content: "\e915"; }
.icon-sk:before { content: "\e914"; }
.icon-flutter:before { content: "\e912"; }
.icon-visualstudio:before { content: "\e911"; }
.icon-terraform:before { content: "\e910"; }
.icon-nestjs:before { content: "\e90f"; }
.icon-claude:before { content: "\e90e"; }
.icon-hadoop:before { content: "\e90d"; }
.icon-power-bi:before { content: "\e90c"; }
.icon-kalilinux:before { content: "\e90b"; }
.icon-ansible:before { content: "\e90a"; }
.icon-apachecassandra:before { content: "\e908"; }
.icon-supabase:before { content: "\e907"; }
.icon-playwright:before { content: "\e906"; }
.icon-tailwindcss:before { content: "\e905"; }
.icon-graphql:before { content: "\e902"; }
.icon-virtualbox:before { content: "\e904"; }
.icon-vagrant:before { content: "\e903"; }
.icon-wget:before { content: "\e7cf"; }
.icon-crontab:before { content: "\e901"; }
.icon-ibm:before { content: "\e7ce"; }
.icon-sqlite:before { content: "\eb71"; }
.icon-mongodb:before { content: "\e63e"; }
.icon-curl:before { content: "\eb70"; }
.icon-tmux:before { content: "\e605"; }
.icon-solidity:before { content: "\e604"; }
.icon-scala:before { content: "\ec8d"; }
.icon-airtable:before { content: "\e716"; }
.icon-nixos:before { content: "\e7aa"; }
.icon-springboot:before { content: "\e6c3"; }
.icon-oci:before { content: "\e657"; }
.icon-apacheairflow:before { content: "\e802"; }
.icon-apachespark:before { content: "\ed2e"; }
.icon-tableau:before { content: "\e678"; }
.icon-xcode:before { content: "\ed18"; }
.icon-svelte:before { content: "\e6bb"; }
.icon-redis:before { content: "\ec7c"; }
.icon-ovirt:before { content: "\e9f1"; }
.icon-qemu:before { content: "\e91e"; }
.icon-proxmox:before { content: "\e60f"; }
.icon-synology:before { content: "\e778"; }
.icon-nas:before { content: "\e6a7"; }
.icon-wireshark:before { content: "\e821"; }
.icon-zig:before { content: "\e734"; }
.icon-awsec2:before { content: "\eddf"; }
.icon-apachekafka:before { content: "\eb3f"; }
.icon-microsoftpowerpoint:before { content: "\e873"; }
.icon-microsoftword:before { content: "\e675"; }
.icon-microsoftazure:before { content: "\ec16"; }
.icon-openai:before { content: "\e6c4"; }
.icon-quarkus:before { content: "\ec70"; }
.icon-spring-boot:before { content: "\e602"; }
.icon-api:before { content: "\e7e1"; }
.icon-jupyter:before { content: "\ebde"; }
.icon-objective-c:before { content: "\e6e5"; }
.icon-mermaid:before { content: "\e894"; }
.icon-mysql:before { content: "\ec6d"; }
.icon-sqlserver:before { content: "\e664"; }
.icon-kotlin:before { content: "\ebed"; }
.icon-maven:before { content: "\ea08"; }
.icon-neovim:before { content: "\ec2c"; }
.icon-vim:before { content: "\ecfd"; }
.icon-naver:before { content: "\e635"; }
.icon-spring:before { content: "\e601"; }
.icon-tomcat:before { content: "\e60a"; }
.icon-csharp:before { content: "\e60b"; }
.icon-macos:before { content: "\e73a"; }
.icon-microsoftexcel:before { content: "\edde"; }
.icon-altibase:before { content: "\e628"; }
.icon-django:before { content: "\eb7b"; }
.icon-nginx:before { content: "\ec30"; }
.icon-oracle:before { content: "\ec48"; }
.icon-postgresql:before { content: "\ec5d"; }
.icon-powershell:before { content: "\ec5e"; }
.icon-appium:before { content: "\e7cd"; }
.icon-kakao:before { content: "\e600"; }
.icon-selenium:before { content: "\e6a5"; }
.icon-lua:before { content: "\e6e7"; }
.icon-podman:before { content: "\e8e3"; }
.icon-cubrid:before { content: "\e61c"; }
.icon-ruby:before { content: "\e613"; }
.icon-cpp:before { content: "\e609"; }
.icon-gradle:before { content: "\ebaf"; }
.icon-haskell:before { content: "\ebbb"; }
.icon-notion:before { content: "\ec37"; }
.icon-elixir:before { content: "\e75a"; }
.icon-vampire-dracula:before { content: "\e6fa"; }
.icon-intellijidea:before { content: "\ebd1"; }
.icon-dbeaver:before { content: "\e621"; }
.icon-jetbrains:before { content: "\ebdb"; }
