@font-face {
font-family: "iconfont"; /* Project id 2410206 */
src: url('//at.alicdn.com/t/c/font_2410206_5vb9zlyghj.woff2?t=1672844544793') format('woff2'),
     url('//at.alicdn.com/t/c/font_2410206_5vb9zlyghj.woff?t=1672844544793') format('woff'),
     url('//at.alicdn.com/t/c/font_2410206_5vb9zlyghj.ttf?t=1672844544793') format('truetype');
}
  
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-delete:before { content: "\e6f2"; }
.icon-superscript:before { content: "\f0e7"; }
.icon-subscript:before { content: "\f0e3"; }
.icon-safari:before { content: "\f229"; }
.icon-tab:before { content: "\e66c"; }
.icon-strong:before { content: "\e9fe"; }
.icon-free:before { content: "\e669"; }
.icon-light:before { content: "\e6f8"; }
.icon-waline:before { content: "\e65e"; }
.icon-diagram:before { content: "\e639"; }
.icon-customize:before { content: "\e64f"; }
.icon-restrict:before { content: "\e62d"; }
.icon-svg:before { content: "\e629"; }
.icon-anonymous:before { content: "\e622"; }
.icon-define:before { content: "\e644"; }
.icon-IO:before { content: "\e64b"; }
.icon-php:before { content: "\e61f"; }
.icon-java:before { content: "\e7f8"; }
.icon-enum:before { content: "\e620"; }
.icon-generic:before { content: "\e625"; }
.icon-alias:before { content: "\e6c2"; }
.icon-script:before { content: "\e7d0"; }
.icon-search:before { content: "\e6c7"; }
.icon-edit:before { content: "\e634"; }
.icon-type:before { content: "\e719"; }
.icon-advance:before { content: "\e77c"; }
.icon-stack:before { content: "\e782"; }
.icon-call:before { content: "\e787"; }
.icon-safe:before { content: "\e78b"; }
.icon-ability:before { content: "\e79f"; }
.icon-any:before { content: "\e61e"; }
.icon-boolean:before { content: "\e633"; }
.icon-engine:before { content: "\e7ef"; }
.icon-filter:before { content: "\e628"; }
.icon-sort:before { content: "\e688"; }
.icon-yaml:before { content: "\e636"; }
.icon-launch:before { content: "\e677"; }
.icon-decorate:before { content: "\e63c"; }
.icon-navigate:before { content: "\e63e"; }
.icon-eye:before { content: "\e63f"; }
.icon-interact:before { content: "\e640"; }
.icon-input:before { content: "\e65d"; }
.icon-box:before { content: "\e650"; }
.icon-javascript:before { content: "\e913"; }
.icon-nodeJS:before { content: "\e641"; }
.icon-overflow:before { content: "\e70b"; }
.icon-direction:before { content: "\e6de"; }
.icon-table:before { content: "\ec31"; }
.icon-resize:before { content: "\e691"; }
.icon-float:before { content: "\e642"; }
.icon-grid:before { content: "\e90c"; }
.icon-flex:before { content: "\eabe"; }
.icon-flow:before { content: "\e6f7"; }
.icon-linter:before { content: "\e645"; }
.icon-semantic:before { content: "\e646"; }
.icon-cache:before { content: "\e647"; }
.icon-update:before { content: "\e6df"; }
.icon-speed:before { content: "\e648"; }
.icon-ci:before { content: "\e68f"; }
.icon-actions:before { content: "\e69f"; }
.icon-token:before { content: "\e649"; }
.icon-mysql:before { content: "\e64a"; }
.icon-align:before { content: "\e7ba"; }
.icon-api:before { content: "\e76a"; }
.icon-markdown:before { content: "\e7ea"; }
.icon-home:before { content: "\e6bb"; }
.icon-creative:before { content: "\e718"; }
.icon-navbar:before { content: "\e6b5"; }
.icon-sidebar:before { content: "\e638"; }
.icon-vue:before { content: "\f25f"; }
.icon-navigation:before { content: "\e6dc"; }
.icon-discover:before { content: "\e6ba"; }
.icon-bitbucket:before { content: "\e651"; }
.icon-valine:before { content: "\e65b"; }
.icon-gitlab:before { content: "\e692"; }
.icon-gitee:before { content: "\e6f5"; }
.icon-vssue:before { content: "\e663"; }
.icon-github:before { content: "\e653"; }
.icon-info:before { content: "\e6e4"; }
.icon-palette:before { content: "\e7cc"; }
.icon-fullscreen:before { content: "\e69d"; }
.icon-comment:before { content: "\e666"; }
.icon-time:before { content: "\e654"; }
.icon-ask:before { content: "\e7c9"; }
.icon-emoji:before { content: "\e6f3"; }
.icon-categoryselected:before { content: "\e62c"; }
.icon-layout:before { content: "\e6fd"; }
.icon-blog:before { content: "\e655"; }
.icon-question:before { content: "\e690"; }
.icon-write:before { content: "\e760"; }
.icon-config:before { content: "\e656"; }
.icon-slides:before { content: "\e7a7"; }
.icon-setting:before { content: "\e78e"; }
.icon-install:before { content: "\e657"; }
.icon-folder:before { content: "\eac9"; }
.icon-plugin:before { content: "\eb48"; }
.icon-support:before { content: "\e6e3"; }
.icon-page:before { content: "\e6b9"; }
.icon-context:before { content: "\e658"; }
.icon-tex:before { content: "\e659"; }
.icon-shell:before { content: "\e7a8"; }
.icon-rss:before { content: "\e9ca"; }
.icon-enable:before { content: "\e65a"; }
.icon-copyright:before { content: "\e6b3"; }
.icon-contrast:before { content: "\e6a7"; }
.icon-others:before { content: "\e65c"; }
.icon-preview:before { content: "\e716"; }
.icon-copy:before { content: "\e7a0"; }
.icon-footer:before { content: "\e65f"; }
.icon-sitemap:before { content: "\e664"; }
.icon-warn:before { content: "\e662"; }
.icon-like:before { content: "\e668"; }
.icon-check:before { content: "\e6d4"; }
.icon-add:before { content: "\e6d8"; }
.icon-selection:before { content: "\e6e1"; }
.icon-mobile:before { content: "\e705"; }
.icon-notice:before { content: "\e709"; }
.icon-rank:before { content: "\e721"; }
.icon-pic:before { content: "\e72c"; }
.icon-mark:before { content: "\e730"; }
.icon-people:before { content: "\e735"; }
.icon-community:before { content: "\e740"; }
.icon-play:before { content: "\e74f"; }
.icon-tag:before { content: "\e751"; }
.icon-hot:before { content: "\e757"; }
.icon-code:before { content: "\e606"; }
.icon-compare:before { content: "\ead8"; }
.icon-ajax:before { content: "\e623"; }
.icon-animation:before { content: "\e619"; }
.icon-Apache:before { content: "\e626"; }
.icon-jQuery:before { content: "\e612"; }
.icon-workingDirectory:before { content: "\e75e"; }
.icon-es6:before { content: "\e671"; }
.icon-git:before { content: "\e61b"; }
.icon-css:before { content: "\e630"; }
.icon-software:before { content: "\e6a1"; }
.icon-underscore:before { content: "\e637"; }
.icon-function:before { content: "\e6bd"; }
.icon-mini-app:before { content: "\e611"; }
.icon-html:before { content: "\e660"; }
.icon-windows:before { content: "\e75f"; }
.icon-note:before { content: "\e711"; }
.icon-c:before { content: "\e607"; }
.icon-nginx:before { content: "\e601"; }
.icon-chrome:before { content: "\e604"; }
.icon-branch:before { content: "\e616"; }
.icon-change:before { content: "\e609"; }
.icon-remote:before { content: "\ea43"; }
.icon-wechat:before { content: "\e63b"; }
.icon-debug:before { content: "\e60a"; }
.icon-state:before { content: "\e60d"; }
.icon-vscode:before { content: "\e81d"; }
.icon-network:before { content: "\e602"; }
.icon-frame:before { content: "\e70d"; }
.icon-process:before { content: "\e82e"; }
.icon-tool:before { content: "\ed5f"; }
.icon-npm:before { content: "\e6da"; }
.icon-linux:before { content: "\e765"; }
.icon-ubuntu:before { content: "\eb37"; }
.icon-language:before { content: "\e631"; }
.icon-leaf:before { content: "\e6be"; }
.icon-autumn:before { content: "\ecc6"; }
.icon-android:before { content: "\e63d"; }
.icon-angular:before { content: "\e60c"; }
.icon-file:before { content: "\e61a"; }
.icon-python:before { content: "\e615"; }
.icon-react:before { content: "\e743"; }
.icon-link:before { content: "\e707"; }
.icon-snow:before { content: "\e627"; }
.icon-mount:before { content: "\e621"; }
.icon-license:before { content: "\e61c"; }
.icon-repo:before { content: "\e6e9"; }
.icon-keyboard:before { content: "\e8fa"; }
.icon-computer:before { content: "\e8dd"; }
.icon-window:before { content: "\e60b"; }
.icon-read:before { content: "\e861"; }
.icon-template:before { content: "\ed95"; }
.icon-typescript:before { content: "\e7ab"; }
.icon-module:before { content: "\e6f0"; }
.icon-emmet:before { content: "\e608"; }
.icon-format:before { content: "\e6ee"; }
.icon-guide:before { content: "\e62f"; }
.icon-heading:before { content: "\e60e"; }
.icon-centos:before { content: "\e676"; }
.icon-http:before { content: "\ebb3"; }
.icon-storage:before { content: "\ed39"; }
.icon-quote:before { content: "\e91d"; }
.icon-expansion:before { content: "\e6f1"; }
.icon-variable:before { content: "\e6cd"; }
.icon-calculate:before { content: "\e665"; }
.icon-string:before { content: "\e809"; }
.icon-line:before { content: "\e624"; }
.icon-condition:before { content: "\e62a"; }
.icon-loop:before { content: "\e6ca"; }
.icon-array:before { content: "\e762"; }
.icon-set:before { content: "\e66a"; }
.icon-refresh:before { content: "\e6bf"; }
.icon-map:before { content: "\e6b6"; }
.icon-object:before { content: "\e632"; }
.icon-null:before { content: "\e618"; }
.icon-number:before { content: "\e643"; }
.icon-build:before { content: "\e600"; }
.icon-create:before { content: "\e610"; }
.icon-mesh:before { content: "\e64d"; }
.icon-material:before { content: "\e635"; }
.icon-relation:before { content: "\e66b"; }
.icon-tree:before { content: "\e62b"; }
.icon-geometry:before { content: "\e613"; }
.icon-select:before { content: "\e7fb"; }
.icon-view:before { content: "\e614"; }
.icon-physics:before { content: "\e6c1"; }
.icon-study:before { content: "\e68c"; }
.icon-result:before { content: "\e710"; }
.icon-exercise:before { content: "\e652"; }
.icon-editor:before { content: "\e68e"; }
.icon-return:before { content: "\e728"; }
.icon-timer:before { content: "\e708"; }
.icon-repair:before { content: "\e73a"; }
.icon-command:before { content: "\e73e"; }
.icon-activity:before { content: "\e775"; }
.icon-profile:before { content: "\e77a"; }
.icon-form:before { content: "\e7ac"; }
.icon-news:before { content: "\e7e6"; }
.icon-flower:before { content: "\e7f0"; }
.icon-group:before { content: "\e7f4"; }
.icon-card:before { content: "\e81f"; }
.icon-share:before { content: "\e6fe"; }
.icon-back-stage:before { content: "\e661"; }
.icon-router:before { content: "\e680"; }
.icon-app:before { content: "\e60f"; }
.icon-dart:before { content: "\e603"; }
.icon-OS:before { content: "\e68d"; }
.icon-async:before { content: "\e605"; }
.icon-extend:before { content: "\e62e"; }
.icon-class:before { content: "\ed66"; }
.icon-at:before { content: "\e6c5"; }
.icon-structure:before { content: "\e696"; }
.icon-asynchronous:before { content: "\e64e"; }
.icon-cycle:before { content: "\e92d"; }
.icon-merge:before { content: "\e682"; }
.icon-load:before { content: "\e6c6"; }
.icon-proposal:before { content: "\e667"; }
.icon-article:before { content: "\e64c"; }
.icon-proxy:before { content: "\e834"; }
.icon-operate:before { content: "\e86e"; }
.icon-regexp:before { content: "\e86f"; }
.icon-style:before { content: "\e617"; }
.icon-symbol:before { content: "\e73f"; }
.icon-arrow:before { content: "\e8cb"; }
.icon-lock:before { content: "\e6ea"; }
.icon-list:before { content: "\e818"; }
.icon-locate:before { content: "\e685"; }
.icon-date:before { content: "\e670"; }
.icon-json:before { content: "\e61d"; }
.icon-wrap:before { content: "\e63a"; }
.icon-bit:before { content: "\e6ad"; }
.icon-more:before { content: "\e96c"; }