/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */
$theme-color: #50fa7b;
$accentColor: #f286c4;
$textColor: #2c3e50;
$borderColor: #eaecef;
$codeBgColor: #282c34;
